<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="stylesheets/sendBlog.css">
</head>

<body>
  <div class="container">
    <div class="sendBlog">
      <h2>发表文章</h2>
      <div class="sendBlog-title">
        <span>标题：</span><input type="text" />
      </div>
      <div class="sendBlog-content">
        <span>内容：</span><input type="text">
      </div>
    </div>
  </div>
</body>

</html>